.container {
    margin-left: 25vw;
    margin-right: 5vw;
}

.search {
    display: flex;
    justify-content: end;
    padding-bottom: 2rem;
}

.search input {
    background: #232241;
    outline: none;
}

.search button {
    background: #232241;
}

.search button:hover {
    transform: scale(1.1);
    transition: .2s;
    background: #151330;
}

.list {
    cursor: pointer;
}

.list:hover {
    transition: .5s;
    transform: scale(1.04);
}